@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-foreground w-full overflow-x-hidden
}
html{
  scroll-behavior: smooth;
}
.font {
  font-family: 'StratosBold',sans-serif;
  font-weight: 900; /* or the correct weight for Stratos Medium */
  font-style: normal; /* Ensures it doesn't use italic */
}
@font-face {
  font-family: 'Stratos';
  src: url('/fonts/stratos-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'StratosLight';
  src: url('/fonts/stratosweb-extralight.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'StratosBold';
  src: url('/fonts/stratos-bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'Stratos',sans-serif;
}
.stratosLight{
  font-family: 'StratosLight',sans-serif;
}
.flex-center{
  @apply flex items-center justify-center
}
.border{
  @apply border-2 border-dashed rounded-[20px] border-black  
}
h1{
  @apply text-6xl font-bold
}
h2{
  @apply  text-4xl font-semibold
}
h3{
  @apply text-3xl font-semibold
}
h4{
  @apply text-2xl font-medium
}
.project_card{
  @apply h-[404px] relative overflow-hidden border rounded-[20px] w-auto px-6
}
.r40{
  @apply relative z-40
}
.bw{
  @apply bg-black text-white
}
.wb{
  @apply bg-white text-black
}



::-webkit-scrollbar {
  width: 10px; /* optional */
  height: 10px;
  margin-right: 3px; /* optional */
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #D3A068;
  border-radius: 5px;
}