@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-foreground w-[100vw] overflow-x-hidden
}
.font {
  font-family: 'StratosBold',sans-serif;
  font-weight: 900; /* or the correct weight for Stratos Medium */
  font-style: normal; /* Ensures it doesn't use italic */
}
@font-face {
  font-family: 'Stratos';
  src: url('/fonts/stratos-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'StratosLight';
  src: url('/fonts/stratosweb-extralight.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'StratosBold';
  src: url('/fonts/stratos-bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  @apply transition-all 
}
*{
  font-family: 'Stratos',sans-serif;
}
.stratosLight{
  font-family: 'StratosLight',sans-serif;
}
.flex-center{
  @apply flex items-center justify-center
}
.border{
  @apply border-2 border-dashed border-black  
}
h1{
  @apply text-6xl font-bold
}
h2{
  @apply  text-4xl font-semibold
}
h3{
  @apply text-3xl font-semibold
}
h4{
  @apply text-2xl font-medium
}
